<!DOCTYPE html>
<html>
  <head>
    <title>Angry Elephant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      .hero {
        position: relative;
        display: flex;
        align-items: center;
        left: -.1rem;
        color: darkred;
        -webkit-text-stroke: red .1rem;
        font-size: 4rem;
        text-decoration: none;
      }
      .imgy {    
        postion: relative;
        display: flex;
        width: 20%;
        border-radius: 10rem;
        border: 1rem dashed red;
      }

      body {
        background-color: black;
      }
      
      
      .titles {
        display: flex;
        justify-content: center;
        margin-top: 11rem;
      }

    </style>
  </head>
  <body>
    <div class="titles">
      
      <img class="imgy" src="https://media.tenor.com/fnMSklaZPvMAAAAe/canticos-elephant.png" alt="">
      <a class="hero"href="/elephant">Angry Elephant</a>
      <img class="imgy" src="https://media.tenor.com/fnMSklaZPvMAAAAe/canticos-elephant.png" alt="">
    </div>
    
  </body>
  </html>
